
@media screen and (max-width:720px){
    .carousel-caption {
        right: 12% !important;
        left: 12% !important;
        text-align: left !important;
        max-width: 720px;
        z-index: 1;
    }
    .botao{
        margin-top: 5px;
        width: 300px;
        font-size: 10px;
    }
}



@media screen and (max-width:520px){
    .subtitulo {
        font-size: 11px;
    }
    .titulo {
        font-size: 13px;
    }

    .botao{
        font-size: 9px;
    }
}